div#testingSitePanelWrapper,#BodyWrapper{margin:0 auto;width:970px;background:white;}
/* */
div.testingSitePanel{margin:5px auto 8px;width:870px;text-align:center;border:3px #FFE066 solid;padding:10px 5px;background:white;}div#Body div#GamesContainer{padding-top:5px;}
