.user-social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    margin-left: auto;
}

.connectionLink-0-2-230 {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: 6px;
}

.social-link-icon {
    display: inline-block;
    background-image: url(/images/SocialLinkSquareIconsV5.svg);
    width: 32px;
    height: 32px;
    background-size: 100% auto;
    border-radius: 3px;
}

.social-link-icon.discord {
  background-position:0 calc(-32px * (1 - 1))
}

.social-link-icon.youtube {
  background-position:0 calc(-32px * (2 - 1))
}

.social-link-icon.twitter {
  background-position:0 calc(-32px * (3 - 1))
}

.social-link-icon.twitch {
  background-position:0 calc(-32px * (4 - 1))
}

.social-link-icon.facebook {
  background-position:0 calc(-32px * (5 - 1))
}

.social-link-icon.github {
  background-position:0 calc(-32px * (6 - 1))
}

.social-link-icon.gplus {
  background-position:0 calc(-32px * (7 - 1))
}

.social-link-icon.roblox {
  background-position:0 calc(-32px * (8 - 1))
}

.social-link-icon.wechat {
  background-position:0 calc(-32px * (9 - 1))
}

.social-link-icon.amazon {
  background-position:0 calc(-32px * (10 - 1))
}

.social-link-icon.idek {
  background-position:0 calc(-32px * (11 - 1))
}

.social-link-icon.guilded {
  background-position:0 calc(-32px * (12 - 1))
}

.social-link-icon.telegram {
  background-position:0 calc(-32px * (13 - 1))
}