<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <!-- Please do not mess up this script unless you know exactly what you're doing. - meditext -->
    <defaultDocument enabled="true">
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    <cors enabled="true" failUnlistedOrigins="true">
      <add origin="*" />
      <add origin="https://*.aftwld.xyz" allowCredentials="true" maxAge="120">
        <allowMethods>
          <add method="GET" />
        </allowMethods>
      </add>
      <add origin="http://*" />
    </cors>

    <rewrite>
      <rules>
        <rule name="API Join.ashx" stopProcessing="true">
          <match url="^game/Join.ashx$" />
          <action type="Rewrite" url="/game/Join.php" />
        </rule>
        <rule name="games page" stopProcessing="true">
          <match url="^games/([0-9]+)/([^/?#]+)$" />
          <action type="Rewrite" url="/Place.aspx.php?placeId={R:1}" />
        </rule>
		<rule name="develop view page" stopProcessing="true">
          <match url="^develop/views/([0-9]+)$" />
          <action type="Rewrite" url="/develop/views.php?assetId={R:1}" />
        </rule>
	 <rule name="items page" stopProcessing="true">
          <match url="^(.+)-item$" />
          <conditions>
            <add input="{QUERY_STRING}" pattern="^id=([0-9]+)$" />
          </conditions>
          <action type="Rewrite" url="/Item.aspx.php?id={C:1}" />
        </rule>

        <rule name="resolve hash thumb3d" stopProcessing="true">
          <match url="^thumbnail/resolve-hash/([^/]+)$" />
          <action type="Rewrite" url="/thumbnail/resolve-hash/hash.php?md5={R:1}" />
        </rule>

        <!-- Rewrite .php extension -->
        <rule name="Hide .php ext">
          <match url="^(.*)" ignoreCase="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_FILENAME}.php" matchType="IsFile" />
            <add input="{REQUEST_URI}" pattern="^.*\.(html|js|css|jpg|png|gif|bin|txt|json|data)$" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}.php" />
        </rule>

        <!-- Redirect .php to clean URL -->
        <rule name="Redirecting .php ext" stopProcessing="true">
          <match url="^(.*).html" />
          <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="(.*).php" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Add MIME types -->
    <staticContent>
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
      <mimeMap fileExtension=".mtl" mimeType="text/plain" />
    </staticContent>

    <!-- Configure PHP FastCGI -->
    <fastCgi>
      <application fullPath="C:\PHP\php-cgi.exe" activityTimeout="1800" requestTimeout="1800" idleTimeout="1800">
        <environmentVariables>
          <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
        </environmentVariables>
      </application>
    </fastCgi>

    <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/processerror.php?code=404" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/processerror.php?code=500" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/processerror.php?code=403" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
